@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&family=Poppins:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: #e4610a !important;
  padding-bottom: 10px;
  font-family: Merriweather;
  font-weight: 900;
}

h1::after {
  content: "";
  background: #e4610a;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

/*Navigation*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

#nav-bar .navbar-toggler {
  background-color: white;
}

.navbar-brand img {
  height: 60px;
  width: 80px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #e4610a !important;
}

.navbar {
  background: #382884;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 17px;
}

/* Slider
#slider {
  width: 100%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}

.carousel-caption h5 {
  color: #fff;
  font-size: 42px;
} */

/*Home*/
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/foto-medio2.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 60px;
}

#home h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}

#home h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

#home h4 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #ccc;
}

#home .col-md-3 {
  margin: auto;
}

#home .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-size: larger;
  border: 0.5px solid #555;
}

#home .fa {
  color: #fff;
  margin-left: 5px;
  font-size: 22px;
}

/*Sobre Nós*/
#sobre {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #555;
}

#sobre .col-md-6 {
  margin: auto;
}

.sobre-content {
  padding-top: 10px;
  padding-bottom: 20px;
}

.sobre-content h3 {
  font-size: 19px;
  font-family: Poppins;
}

/* #sobre .profile {
  background-color: none;
}
#sobre .profile:hover {
  transition: none;
} */

#sobre .user {
  width: 190px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #382884;
}

/* #sobre .profile img {
  margin-top: 60px;
  position: absolute;
  border: 10px solid #fff;
} */

#sobre .col-md-4 {
  margin: auto;
}

/* #sobre .profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
} */

/*Serviços*/
#servicos {
  background-color: #eee;
  background-size: cover;
  background-position: center;
  color: #382884 !important;
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 30px;
}

.servicos {
  margin-top: 20px;
}

.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid#e4610a;
  border-radius: 50%;
}

.icon .fas {
  color: #e4610a;
}

#servicos p {
  font-size: 15px;
  margin-top: 20px;
  color: black;
}

.servicos .col-md-3:hover {
  background: rgba(204, 204, 204, 0.705);
  cursor: pointer;
  transition: 0.7s;
}

.servicos .col-md-3 {
  background-color: #fff;
  border: 2px solid #382884;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 15px;
  /* height: 450px; */
}

#servicos p {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 400;
}

/*Preços*/
/* #precos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/foto-medio.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
} */

/*Planos*/
/* #populares h3 {
  text-align: center;
  color: rgb(255, 255, 255) !important;
  padding-bottom: 5px;
} */

#populares h3 {
  color: #999;
  font-size: 23px;
  color: #e4610a;
}

#populares {
  padding-top: 50px;
  color: #555;
}

#populares {
  padding: 40px 0;
  text-align: center;
}

#populares .col-md-5 {
  margin: auto;
}

.price-page {
  background-color: #382884;
  width: 165px;
  height: 35px;
  margin: auto;
  border-radius: 5%;
}

.price-page:hover {
  background-color: #e4610a;
  transition: 0.7s;
  cursor: pointer;
}

#populares h3:hover {
  color: #382884;
}

.single-price {
  margin: auto;
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 30px;
}

/* .single-price:hover {
  box-shadow: 0 2px 20px #333;
} */

/* .price-head {
  background-color: #2196f3;
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.price-head h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.price-head p {
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
} */

/* #price span {
  font-size: 35px;
  background-color: red;
} */

#populares li {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.price-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 15px;
}

.price-content ul li {
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #e4610a;
}

/* ul li:last-child {
  border: none;
} */

.price-content .fas {
  color: #382884;
  margin-right: 10px;
  font-size: 25px;
}

.price-content .fa {
  color: #382884;
  margin-right: 10px;
  font-size: 25px;
}

/* video {
  margin: auto;
} */

/* .price-button {
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}

.buy-btn {
  background-color: #2196f3;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;
}

.buy-btn:hover {
  border-color: 1px solid #fff;
  background-color: #3f51b5;
} */

/*Clientes*/
#clientes {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

#clientes .row {
  margin-top: 30px;
}

#clientes p {
  font-size: 17px;
  color: #555;
}

.col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 70px 10px 10px;
  background-color: #fff;
}

.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fff;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #382884;
}

#clientes span {
  font-size: 12px;
  color: #333;
}

.fa-quote-left {
  color: #382884;
}

.fa-quote-right {
  color: #382884;
}

/*Formulario*/
#contact {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact-form {
  padding: 15px;
  background-color: #372884c0;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
}

::placeholder {
  color: #999 !important;
}

/* .follow {
  background: #eee;
  padding: 10px;
  margin: 15px;
} */

/*Footer*/
footer {
  padding: 5px;
  background-color: #382884;
}

footer .final-text {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
}

footer .social a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 25px;
}

footer .social a:hover {
  color: #e4610a;
}

/*copyright*/
.copyright {
  background-color: #382884;
  border-top: 1px solid #1d1d27;
  padding: 15px;
}

.copyright p {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
